# Dart/Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
pubspec.lock

# Flutter generated / ephemeral
**/generated_plugin_registrant.dart
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
android/.gradle/
android/local.properties
android/key.properties
.idea/
.vscode/

# OS
.DS_Store
